@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Курсы Английского</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Курсы по английскому языку</h2>
        <p>
            Пример приложения на .NET Core 5.0
            с использованием MVC
        </p>
    </div>
    <div class="col-md-4">
        <h2>Написано по туториалу</h2>
        <p>Ссыло4ка на туториал ниже.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Ссылочка &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Можно скачать</h2>
        <p>Ссылка на репозиторий GitHub (прочтите readme).</p>
        <p><a class="btn btn-default" href="https://https://github.com/SergeyTukalskiy/EnglishLessonsMVC">Ссыло4ка на репозиторий &raquo;</a></p>
    </div>
</div>
